[Unit]
Description=Notify Discord when the doorbell rings

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/node /home/pi/.ghq/github.com/ebith/doorbell/index.js
